.search-list {
    background-color: silver;
}

.current-info {
    border: 1px solid black;
}

.day-forcast {
    background-color: blue;
    margin: 5px 5px;
    font-size: 12px;
}

#indexUV {
    padding: 5px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}